*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Oswald" , sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #434750;
}

.ul{
    position: relative;
    transform: skewY(-15deg);
}

.li{
    list-style: none;
    position: relative;
    width: 200px;
    background: #3e3f46;
    padding: 15px;
    z-index: var(--i);
    transition: 0.5s;

}

.li a{
    text-decoration: none;
    display: block;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.li:hover a{
    color: #fff;
}

.li::before{
    content: '';
    background: #3e3f46;
    position: absolute;
    width: 40px;
    height: 100%;
    top: 0;
    left: -40px;
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.5s;
}


.li::after{
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 0.5s;
    width: 100%;
    height: 40px;
    background: #3e3f46;
}

.li:hover{
    background: #33a3ee;
    transform: translateX(50px);
}

.li:hover::before{
    background: #1f5378;
}

.li:hover::after{
    background: #2982b9;
}


.li:last-child::after{
    box-shadow: -120px 120px 20px rgba(0, 0, 0, 0.25);
}